<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>This is the Home Page!</h1>


    <!-- use a form to package inputs together as one unit -->
    <!-- use a post method to 'Create something new' like in CRUD -->
    <form action="/new" method="POST">
        <label for="textinput">Input Text</label>   <!-- labels are a good practice for input! -->
        <input type="text" name="textinput">    <!-- input needs a name to display in the database, will not show otherwise -->
        <br>
        <label for="numinput">Input Number</label>
        <input type="number" name="numinput" value=0>
        <br>
        <button type="submit">Add item</button>
    </form>


        <!-- unordered list is fine here vs. an ol (numbered) -->
    <ul>
        <% itemList.forEach(item => { %>
            <li>
                <div><%= item.textinput %></div>
                <div><%= item.numinput %></div>
                <a href="/edit/<%= item._id %>">Edit</a>
                <a href="/edit/remove/<%= item._id %>">Remove</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>